@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, blockquote, th, td, table, img {
	margin: 0;
	padding: 0;
}
.log-wrap {
	width: 100%;
	height: 100%;
	background: url(../images/log-bg.jpg) repeat fixed center center / 100% 100% transparent;
}
.log-header {
	width: 100%;
	border-bottom: 2px solid #76CDE2;
	background-color: #FFF;
}
.top {
	width: 1001px;
	margin: 0px auto;
	height: 74px;
	clear: both;
}
.logo {
	float: left;
	padding-top: 20px;
}
.clear {
	clear: both;
}
.log-content {
	width: 1000px;
	min-height: 400px;
	margin: auto;
}
.log-board {
	height: 300px;
	width: 330px;
	background:rgba(255,255,255,0.60);
	margin:auto;
	border-radius:15px;
	padding:35px;
}
.log-title{ width:100%; height:55px; text-align:center; font-size:28px;}
.log-footer {
	height: 66px;
	width: 100%;
	background: #222222;
	color: #454b4f;
	position: absolute;
	bottom: 0;
}
#k_topFrame {
	width: 100%;
	height: 150px;
}
